
/*css reset*/
/*ͨ������*/
body{
    font:12px "microsoft yahei",Arial,Helvetica,sans-serif;
    color:#666;
    margin:0;
    padding:0;
}
a{
    color:#666;
    text-decoration:none;
}
a:hover{
    color:#ff0700;
    text-decoration:underline;
}
h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd{
    margin:0;
    padding:0;
    list-style:none;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}

/****************************************************/

section{
    width: 100%;
}
@media screen and (min-width:776px ){
    section{
        width: 320px;
        height: 568px !important;
        margin: 0 auto;
    }
}
.page-container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.logo-top{
    position: absolute;
    width: 100%;
    z-index: 1000;
}
.logo-top img{
    width: 100%;
}
.page-box{
    width: 100%;
    position: absolute;
}
.page-box>.page-content{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.page-bc{
    width:100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}
.page-box>.page-content:nth-child(3){
    background:#fff url("../image/page3-1.png") no-repeat center top;
    background-size: cover;
}
.page-box>.page-content:nth-child(3):before{
    content: "";
    display: table;
}
/*��Ϸҳ��*/
.end_land{
    width: 100%;
    height: 10%;
    margin-top:20%;
    background:#000 url("../image/page3-7.png") no-repeat 0 bottom;
    background-size: cover;
}
.end_land:before{
    content: "";
    display: table;
}
.end_land>img:first-child {
    float: left;
    margin-top: 15px ;
    margin-left: 10px ;
    width: 30px;
}
.end_land>img:last-child{
    float: right;
    margin-top: 10px ;
    margin-right: 10px ;
    width: 40px;
}
.draw_map{
    width: 100%;
    height: 50%;
    position: relative;
    background:#000 url("../image/page3-2.png") no-repeat 0 0;
    background-size: cover;
    overflow: hidden;
}
.draw_map>div{
    position: absolute;
    background:url("../image/page3-6.png") no-repeat ;
    background-size: cover;
    z-index:10
}
.start_land{
    width:100%;
    height: 8%;
    position: relative;
    background: url("../image/page3-7.png") no-repeat 0 top;
    background-size: cover;
}
#car{
    position: absolute;
    left: 40%;
    top:0;
    width: 20px;
}
#car img{
    width: 100%;
}
.car_show{
    z-index:100;
    opacity: 1;
}
.car_hidden{
    transition: opacity linear 10s;
    opacity: 0;
    z-index:5;
}
.start_land .game-press{
    width: 60px;
    height:60px;
    position: absolute;
    right: 5%;
    background-size: cover;
    z-index: 900;
}
#up{
    bottom: 80px;
    background-image: url(../image/page3-up.png);
    background-repeat:  no-repeat;
}
#down{
    bottom: 10px;
    background-image: url(../image/page3-down.png);
    background-repeat:  no-repeat;
}
#start{
    left: 5%;
    bottom: 10px;
    background-image: url(../image/page3-start.png);
    background-repeat:  no-repeat;
}
/*提示框*/
.hint{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    z-index: 1100;
    display: none;
}

.hint>img {
    width:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*游戏超过5次，提示框*/
#hint9>div{
    width:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hint9>div>img:first-child{
    width:100%;
}
#hint9>div>img:nth-child(2){
    width:43%;
    position: absolute;
    left: 5%;
    bottom: 10px;
}
#hint9>div>img:nth-child(3){
    width:43%;
    position: absolute;
    right: 5%;
    bottom: 10px;
}
#cover-notice{
    background: url(../image/hint9-4.png) center top no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    display: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
}
.bottom-btn{
    width: 100%;
    height: 10%;
    margin-top: 10px;
}
.bottom-btn p{
    width: 50%;
    text-align: center;
}
.bottom-btn p img{
    width: 100%;
}
.bottom-btn p:first-child{
    float: left;
}
.bottom-btn p:last-child{
    float: right;
}

/*�ύ��Ϣҳ��*/
.page4{
    width: 100%;
    height: 100%;
    background:#88D7F9 url("../image/page4.png") no-repeat center top;
    background-size: cover;
    color: #00639A;
    position: relative;
}
.page4 img{
    width: 100%;
}
.page4 h1{
    margin: 10px auto;
    text-align: center;
    letter-spacing:4px
}
#form-group{
    width: 90%;
    height: 60%;
    margin: 0 auto;
}
#form-group form{
    width: 100%;
    height: 90%;
}
#form-group span{
    display: inline-block;
    width: 20%;
    text-align: right;
    font-size: 14px;
}
#form-group input{
    display: inline-block;
    width: 70%;
    height: 10%;
    margin-bottom:5%;
}
#form-group .horizontal-form{
    width: 70%;
    height: 11%;
    margin-bottom:5%;
}
#form-group .paratactic-form {
    width: 30%;
    height: 11%;
    margin-bottom:5%;
}
#website{
    margin-left: 20%;
}

.warm-prompt{
    color: #000;
}
#sub-msg{
    width: 50%;
    margin: 5% auto;
}
/*第五版*/
.page5{
    width: 100%;
    height: 100%;
    color: #00639A;
    position: relative;
}
.page5 img{
    width: 100%;
}

.page5-body{
    width: 100%;
    height: 65%;
    padding: 2% 10%;
    box-sizing: border-box;
    background: #00D0FF;
}
.page5-body h1{
    text-align: center;
    font-size: 1.7em;
    letter-spacing:4px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
    height: 7%;
}
.page5-body .ticket{
    height: 27%;
    background: #fff;
    margin-bottom: 3%;
    box-sizing: border-box;
    text-align: center;
}
.page5-body .ticket>div{
    height: 60%;
    background: #66FFFF;
}
.page5-body .ticket>div>h3{
    height: 60%;
    line-height: 40px;
}
.page5-body .ticket>div>p{
    height: 40%;
    line-height: 23px;
}

.page5-body .ticket>p{
    color: #555;
}
.page5-footer{
    text-align: center;
    color: #000;
}
.page5-footer h3{
    margin:2%;
    font-weight: lighter;
}
.page5-footer h3 i{
    display: inline-block;
    width: 50px;
    border-top:1px dashed #000 ;
    margin: 5px;
}

.page5-footer ul li {
    text-align: left;

}
.page5-footer ul li {
    text-align: center;
}
.page5-footer p{
    color: #f44541;
}
/*分享弹框*/
#page5-hint1>div{
    width:70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#page5-hint1>div>img:first-child{
    width:100%;
}
#page5-hint1>div>img:nth-child(2){
    width:43%;
    position: absolute;
    left: 5%;
    bottom: 10px;
}
#page5-hint1>div>img:nth-child(3){
    width:43%;
    position: absolute;
    right: 5%;
    bottom: 10px;
}
#skip_other{
    display: inline-block;
    width: 80px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    background: #00639A;
    box-shadow:0 0 5px #777;
}
#cover{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10000;
    background: #fff;

}
#cover p{
    margin-top:30%;
    text-align: center;
}

#music-box{
    position: absolute;
    top:40px;
    right:10px;
    width: 30px;
    z-index: 1000;
}
#music-box img{
    width:100%;
}
/*跳动的箭头******************/
#arrow{
    position: absolute;
    bottom: 10px;
    z-index: 9999;
    left: 50%;
    transform:translate(-50%,0) ;
    animation: move4 1s  infinite ease;
}

@keyframes move4 {
    0%{
        bottom: 10px;
        opacity: 0;
    }

    100%{
        bottom: 20px;
        opacity: 1;
    }
}
/*前三屏动画*/
.animate1{
    animation: heartbeat 2s infinite;
}
@keyframes heartbeat{
    0%{
        transform:scale(0.9,0.9)
    }
    100%{
        transform:scale(1.1,1.1)
    }
}
/*第一屏动画*/
#page1 img:last-child{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    transform-origin:left 50%;
    transform:rotate(0deg)
}
.animate2{
    animation: play 10s;
}
@keyframes play{
    0%{
        bottom:100%;
        transform:rotate(0deg)
    }
    10%{
        bottom: -6%;
    }
    30%{
        bottom: -6%;
    }
    40%{
        bottom: -2%;
    }
    50%{
        bottom: 0;
    }
    80%{
        transform:rotate(0deg)
    }
    85%{
        transform:rotate(60deg)
    }
    90%{
        transform:rotate(60deg)
    }
    93%{
        transform:rotate(50deg)
    }
    100%{
        transform:rotate(0deg)
    }
}
#page2 .page2-inf{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.animate3{
    animation: move5 1s;
}
@keyframes move5{
    0%{
        left: -100%;
    }
    100%{
        left:0;
    }
}